<document>
	<descriptiveAlertTemplate>
		<title>{{ title }}</title>
		<description>{{ message }}</description>
		<button data-alert-dissmiss="close">
			<text>OK</text>
		</button>
	</descriptiveAlertTemplate>
</document>
